@import "tailwindcss";

:root {
  --moody-theme-1: #f6f7f9;
  --moody-theme-2: #e5e9f0;
  --moody-theme-3: #d8dee9;
  --moody-theme-4: #b9c4d0;
  --moody-theme-5: #8896a5;
  --moody-theme-6: #5e6b75;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --moody-theme-1: #1a1b26;
    --moody-theme-2: #2e3440;
    --moody-theme-3: #3b4252;
    --moody-theme-4: #4c566a;
    --moody-theme-5: #7b8794;
    --moody-theme-6: #a3b1c6;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  animation: gradient 10s linear infinite;
  background: linear-gradient(
    -45deg,
    var(--moody-theme-1),
    var(--moody-theme-2),
    var(--moody-theme-3),
    var(--moody-theme-4),
    var(--moody-theme-5),
    var(--moody-theme-6)
  );
  background-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
}
